.place__title {
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.06rem;
    margin: 0 60px 40px 0;
    grid-area: title;
    max-width: calc(100% - 40px);
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
    .place__title {
        font-size: 3.25rem;
        line-height: 3.325rem;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .place__title {
        font-size: 2.625rem;
        line-height: 2.75rem;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 425px) {
    .place__title {
        font-size: 2rem;
        line-height: 2.125rem;
        margin-bottom: 2rem;
        margin-left: 16px;
    }
}