.comment__quote {
   font-weight: normal;
   font-size: 0.875rem;
   line-height: 1.5rem;
   margin: 0 0 1.5rem;
}

@media screen and (max-width: 768px) {
   .comment__quote {
      font-size: 1rem;
      line-height: 1.5rem;
      max-width: 382px;
      order: 3;
      margin: 0;
   }
}