@import url(./__list/places__list.css);

.places {
    max-width: 986px;
    margin: 0 auto;
    padding: 0 48px;
}

@media screen and (min-width: 501px) and (max-width: 768px) {
    .places {
        padding: 0 24px;
    }
}

@media screen and (max-width: 500px) {
    .places {
        padding: 0;
    }
}