.place__image {
    display: flex;
    width: calc(100% - 40px);
    margin-right: 40px; 
    grid-area: image;
}

@media screen and (max-width: 500px) {
    .place__image {
        width: 100vw;
        margin-right: 0;
        margin-bottom: 24px;
        overflow: visible;
        position: relative;
        left: -16px;
    }
}