@import url(./_current/header__lang_current.css);

.header__lang {
    font-family: Inter;
    font-size: 1.5rem;
    margin-left: 18px;
    display: flex;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .header__lang {
        font-size: 1.125rem;
    }
}