.comment__author {
    font-weight: 900;
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem; 
}

@media screen and (max-width: 768px) {
    .comment__author {
        text-align: center;
        order: 2;
    }
}