@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);

.lead {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 985px;
    margin: 0 auto 80px;
    padding: 0 48px;
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 500px) {
    .lead {
        margin-bottom: 64px;
    }
}