.cover__subtitle {
    max-width: 382px;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    margin: auto auto 48px;
}

@media screen and (max-width: 500px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 24px;
    }
}