.cover__subtitle {
    max-width: 382px;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.625rem;
    position: absolute;
    bottom: 24px;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 0.875rem;
        line-height: 1rem;
    }
}