@import url(./__lang/header__lang.css);
@import url(./__logo/header__logo.css);

.header {
    max-height: 46px;
    max-width: 1184px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 36px auto 50px;
    padding: 0 48px;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .header {
        padding: 0 24px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        padding: 0 16px;
        height: 36px;
    }
}