@import url(./_inactive/header__link_inactive.css);

.header__link {
    font-family: Inter;
    font-size: 1.5rem;
    color: #FFFFFF;
    transition: opacity .2s linear;
    align-self: flex-end;
}

.header__link:hover {
    opacity: .5;
}

@media screen and (max-width: 768px) {
    .header__link {
        font-size: 1.125rem;
    }
}