.video__item {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    height: 100%;
    position: relative;
}

@media screen and (min-width: 701px) {
    .video__item:first-of-type {
        margin-right: 16px;
    }
}

@media screen and (max-width: 700px) {
    .video__item {
        max-width: 500px;
        margin: 0 auto;
    }

    .video__item:first-of-type {
        margin-bottom: 8px;
    }
}