.video__item {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    position: relative;
    /* border-radius: 1.5%; */
    transition: background-color .2s linear;
}

.video__item:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 601px) {
    .video__item:first-of-type {
        margin-right: 16px;
    }
}

@media screen and (max-width: 600px) {
    .video__item:first-of-type {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 600px) {
    .video__item {
        max-width: 100%;
        /* min-height: 192px; */
    }
}