.footer__link {
    font-size: 24px;
    line-height: 41px;
    font-weight: normal;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (min-width: 501px) and (max-width: 768px) {
    .footer__link {
        font-size: 16px;
        line-height: 27px;
    }
}

@media screen and (max-width: 500px) {
    .footer__link {
        font-size: 24px;
        line-height: 100%;
    }
}