.place__paragraph {
    font-weight: normal;
    margin: 0 0 2.25rem;
    font-size: 1.125rem;
    line-height: 1.875rem;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 425px) {
    .place__paragraph {
        margin: 0 16px 1.5rem;
        font-size: 1rem;
        line-height: 1.75rem;
    }
}