@import url(./__author/comment__author.css);
@import url(./__image/comment__image.css);
@import url(./__quote/comment__quote.css);

.comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
    .comment {
        margin-bottom: 0;
    }
}