@import url(./__author/comment__author.css);
@import url(./__image/comment__image.css);
@import url(./__quote/comment__quote.css);

.comment {
    display: flex;
    flex-direction: column;
    margin-right: 19px;
    width: 1fr;
}

.comment:last-of-type {
    margin-right: 0;
}