.video__title {
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-align: left;
    max-width: 322px;
    height: 4.5rem;
}


@media screen and (max-width: 1000px) {
    .video__title {
        font-size: 1.5rem;
        line-height: 1.625rem;
        height: 3rem;
    }
}

@media screen and (max-width: 425px) {
    
}