.video__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    text-align: left;
    max-width: 322px;
    max-height: 73px;
    margin: 0;
}


@media screen and (max-width: 1000px) {
    .video__title {
        font-size: 24px;
        line-height: 26px;
        height: min-content;
    }
}