.content-subtitle {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.2rem;
    text-align: center;
    max-width: 640px;
    margin-bottom: 72px;
}
@media screen and (min-width: 426px) and (max-width: 768px) {
    .content-subtitle {
        margin: 0 1.5rem 3.5rem;
    }
}

@media screen and (max-width: 425px) {
    .content-subtitle {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 0 1rem 1.5rem;
    }
}