@import url(./__background/cover__background.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);


.cover {
    margin: 100px auto 0;
    width: 100%;
    max-width: 1184px;
    max-height: 594px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    height: max-content;
    position: relative;
}

@media screen and (max-width: 600px) {
    .cover {
        margin-top: 50px;
    }
}