@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);


.cover {
    margin: 100px auto 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
