.cover__background {
    display: flex;
    width: 100%;
    max-width: 1184px;
    z-index: -1;
    height: 594px;
    object-fit: cover;
    opacity: .7;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cover__background {
        height: 562px;
    }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
    .cover__background {
        max-height: 500px;
    }
}

@media screen and (min-width: 321px) and (max-width: 500px) {
    .cover__background {
        max-height: 272px;
    }
}

@media screen and (max-width: 320px) {
    .cover__background {
        max-height: 216px;
    }
} 