.cover__title {
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.875rem;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 40%;
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    .cover__title {
        font-size: 2.75rem;
        line-height: 2.875rem;
    }
}

@media screen and (max-width: 425px) {
    .cover__title {
        font-size: 2rem;
        line-height: 2.125rem;
    }
}