@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__url/place__url.css);

.place {
    display: grid;
    margin-top: 4.5rem;
    grid-template-columns: [left] 1fr [right] 1fr;
    grid-template-rows: [top] auto [bottom] auto;
}

.place:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 425px) {
    .place {
        margin-top: 60px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }
}