@import url(./__copyright/footer__copyright.css);
@import url(./__item/footer__item.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);

.footer {
    
    max-width: 1184px;
    padding: 0 48px 48px;
    margin: 160px auto 0;
}

@media screen and (min-width: 501px) and (max-width: 768px) {
    .footer {
        margin-top: 100px;
        padding: 0 24px 24px;
    }
}

@media screen and (max-width: 500px) {
    .footer {
        margin-top: 64px;
        padding: 0 16px 22px;
    }
}