@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);

.footer {
    display: flex;
    max-width: 1184px;
    padding: 0 48px 48px;
    align-items: flex-end;
    margin: 0 auto;
    margin-top: 160px;
}

@media screen and (min-width: 501px) and (max-width: 768px) {
    .footer {
        margin-top: 100px;
        padding: 0 24px 24px;
    }
}

@media screen and (max-width: 500px) {
    .footer {
        margin-top: 64px;
        padding: 0 16px 22px;
        flex-direction: column;
        align-items: flex-start;
    }
}