.place__url-heading {
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.2rem;
    color: #AAAAAA;
    margin-left: 0.5rem;
    margin-bottom: 60px;
    align-self: end;
}

@media screen and (max-width: 425px) {
    .place__url-heading {
        display: none;
    }
}