.place__url-heading {
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.2rem;
    color: #AAAAAA;
    margin-bottom: 12px;
}

@media screen and (max-width: 500px) {
    .place__url-heading {
        display: none;
    }
}