.place__url {
    font-size: 1.125rem;
    line-height: 1.875rem;
    text-decoration: underline;
    letter-spacing: normal;
    color: #FFFFFF;
}

@media screen and (max-width: 425px) {
    .place__url {
        display: none;
    }
}