.video__container {
    display: flex;
    max-width: 1184px;
    padding: 0 48px;
    max-height: min-content;
    justify-content: center;
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    .video__container {
        padding: 0;
        margin: 0 24px;
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {
    .video__container {
        padding: 0;
        margin: 0 16px;
        flex-direction: column;
    }
}