.intro__title {
    max-width: 683px;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 3.75rem;
    margin: 0 0 45px;
}

@media screen and (max-width: 425px) {
    .intro__title {
        font-size: 2rem;
        line-height: 2.25rem;
        margin-bottom: 34px;
    }
}